{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block body %}


   <!-- Start Banner 
    ============================================= -->
    <div class="banner-area auto-height text-light bg-gradient mar-top-100p">
        <div class="item">
            <div class="container">
                <div class="row align-center">
                                    
                    <div class="col-lg-6">
                        <div class="content">
                            <h2 class="wow fadeInDown">Creating a better <strong>IT solutions</strong></h2>
                            <p class="wow fadeInLeft">
                                Affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening. 
                            </p>
                            <a class="btn circle btn-light effect btn-md wow fadeInUp" href="#">Start Now <i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 thumb">
                        <img class="wow fadeInUp" src="{% static 'assets/img/thumb/4.png' %}" alt="Thumb">
                    </div>

                </div>
            </div>
        </div>
        <!-- Fixed Shape -->
        <div class="shape" style="background-image: url(/static/assets/img/shape/5.png);"></div>
        <!-- End Fixed Shape -->
    </div>
    <!-- End Banner -->

    <!-- Star About Area
    ============================================= -->
    <div class="about-content-area bg-gray default-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="thumb">
                        <img src="{%  static 'assets/img/illustration/4.png' %}" alt="Thumb">
                        <div class="overlay">
                            <div class="icon">
                                <i class="flaticon-award-star-with-olive-branches"></i>
                            </div>
                            <div class="content">
                                <h4>Founded in 2008</h4>
                                <p>
                                    That shaped what we are today!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 info">
                    <h2>We Help IT Companies Scale Engineering Capacity</h2>
                    <p>
                        Bradtechnologies will always put your business first!
We have the experience and resources to help your IT company scale its engineering capacity. We can take on whatever challenge you may face, from scaling an existing engineering department to building out a new engineering department from scratch. We will work with you to develop a detailed plan and timeline, ensuring that your goals are met on time and within budget.
                    </p>
                    <div class="content-tabs">
                        <ul id="tabs" class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="" data-target="#tab1" data-toggle="tab" class="active nav-link">Our Mission</a>
                            </li>
                            <li class="nav-item">
                                <a href="" data-target="#tab2" data-toggle="tab" class="nav-link">Our Vision</a>
                            </li>
                        </ul>
                        <div id="tabsContent" class="tab-content wow fadeInUp" data-wow-delay="0.5s">
                            <div id="tab1" class="tab-pane fade active show">
                                <p>
                                    To  provide our clients with the best possible technology solutions that help them achieve their business objectives.
                                </p>
                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <p>
                                    To be the most respected and trusted technology partner in the industry, by providing our clients with superior customer service, world-class products and relentless innovation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

    <!-- Start Features Area 
    ============================================= -->
    <div class="top-features-area default-padding-top bg-gray bottom-less">
        <div class="container">
            <div class="feature-items text-center">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-cogwheel"></i>
                            </div>
                            <h5><a href="#">IT Consultancy</a></h5>
                            <p>
                                Includes everything from system assessment to full implementation and support.  
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-cloud-storage"></i>
                            </div>
                            <h5><a href="#">Cloud Computing</a></h5>
                            <p>
                                Everything to help your business run smoother in the cloud including transition and support.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-globe-grid"></i>
                            </div>
                            <h5><a href="#">Cyber Security</a></h5>
                            <p>
                                 Secure your business with our cybersecurity services, we can help you protect your data and systems.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="icon">
                                <i class="flaticon-backup"></i>
                            </div>
                            <h5><a href="#">Backup & Recovery</a></h5>
                            <p>
                                Advise on how to backup your data and systems, and how to recover your data and systems.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
        <!-- Fixed Shpae Bottom -->
        <div class="fixed-shape-bottom">
            <img src="{% static 'assets/img/shape/2.svg' %}" alt="Shape">
        </div>
        <!-- Fixed Shpae Bottom -->
    </div>
    <!-- End Features Area -->

    <!-- Start Works About 
    ============================================= -->
    <div class="works-about-area bg-light overflow-hidden">
        <div class="container">
            <div class="works-about-items default-padding">
                <div class="row align-center">
                    <div class="col-lg-6 info">
                        <h5>Works About</h5>
                        <h2>Trusted by 5,000+ <br> Happy Customers</h2>
                        <p>
                             Bradtechnologies is a trusted partner of IT companies in the industry. We have the experience and resources to help your IT company scale its engineering capacity. We can take on whatever challenge you may face, from scaling an existing engineering department to building out a new engineering department from scratch. We will work with you to develop a detailed plan and timeline, ensuring that your goals are met on time and within budget.
                        </p>
                        <ul>
                            <li>
                                <h5>100% Client Satisfaction</h5>
                            </li>
                            <li>
                                <h5>World Class Worker</h5>
                            </li>
                        </ul>
                        <a class="btn btn-theme effect btn-sm">Talk to a consultant</a>
                    </div>
                    <div class="col-lg-6">
                        <div class="thumb">
                            <img src="{% static 'assets/img/800x700.png' %}" alt="Thumb">
                            <div class="fun-fact">
                                <div class="timer" data-to="875" data-speed="5000"></div>
                                <span class="medium">Completed Projects</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Works About Area -->

    <!-- Start Services 
    ============================================= -->
    <div class="thumb-services-area carousel-shadow relative bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Services</h4>
                        <h2>What we do</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="services-items services-carousel owl-carousel owl-theme text-center">
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <img src="{% static 'assets/img/icon/1.png' %}" alt="Icon">
                    </div>
                    <div class="info">
                        <h4>IT Design</h4>
                        <p>
                            We design and develop IT solutions for your business. We can help you with your IT needs, from system design to implementation.
                        </p>
                        <a href="#">Discover More <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <img src="{% static 'assets/img/icon/2.png' %}" alt="Icon">
                    </div>
                    <div class="info">
                        <h4>Data Security</h4>
                        <p>
                            We provide data security services to help your business protect its data and systems. We can help you with your IT needs, from system design to implementation.
                        </p>
                        <a href="#">Discover More <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <img src="{% static 'assets/img/icon/3.png' %}" alt="Icon">
                    </div>
                    <div class="info">
                        <h4>Analytic Solutions</h4>
                        <p>
                            We offer a suite of analytic solutions that allow us to quickly and easily identify and address issues in your IT infrastructure.  
                        </p>
                        <a href="#">Discover More <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <img src="{% static 'assets/img/icon/4.png' %}" alt="Icon">
                    </div>
                    <div class="info">
                        <h4>Firewall Advance</h4>
                        <p>
                            We provide firewall services to help your business protect its data and systems. We can help you with your IT needs, from system design to implementation.
                        </p>
                        <a href="#">Discover More <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <img src="{% static 'assets/img/icon/5.png' %}" alt="Icon">
                    </div>
                    <div class="info">
                        <h4>IT Management</h4>
                        <p>
                            We provide IT management services to help your business protect its data and systems. We can help you with your IT needs, from system design to implementation.
                        </p>
                        <a href="#">Discover More <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
        <!-- Fixed Shpae Bottom -->
        <div class="fixed-shape-bottom">
            <img src="{% static 'assets/img/shape/1.svg' %}" alt="Shape">
        </div>
        <!-- Fixed Shpae Bottom -->
    </div>
    <!-- End Services Area -->

    <!-- Start Quick Contact Area
    ============================================= -->
    <div class="quick-contact-area half-bg default-padding-top">
        <div class="container">
            <div class="quick-contact-items shadow dark bg-cover text-light" style="background-image: url(/static/assets/img/2440x1578.png);">
                <div class="row align-center">
                    <div class="col-lg-8">
                        <h5>Need help?</h5>
                        <h2>Easy solutions for all <strong>difficult IT problems</strong>, keep business safe & ensure high availability.</h2>
                    </div>
                    <div class="col-lg-4 text-right">
                        <a class="btn btn-light effect btn-md">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Quick Contact Area -->
    
    <!-- Start Fun Factor Area
    ============================================= -->
    <div class="fun-factor-area overflow-hidden">
        <div class="container">
            <div class="fun-fact-items default-padding text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="687" data-speed="5000">687</div>
                            <span class="medium">Happy Clients</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="2348" data-speed="5000">2348</div>
                            <span class="medium">Finished Projects</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="450" data-speed="5000">450</div>
                            <span class="medium">Skilled Experts</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-to="1200" data-speed="5000">1200</div>
                            <span class="medium">Media Posts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Fun Factor Area -->


    <!-- Start Faq 
    ============================================= -->
    <div class="faq-area default-padding bg-gray">
        <div class="container">
            <div class="faq-items">
                <div class="row">

                    <div class="col-lg-5 info">
                        <h5>faq</h5>
                        <h2>Most common question about our services</h2>
                        <a class="btn btn-theme effect btn-md">Viewl All</a>
                    </div>

                    <div class="col-lg-7">
                        <div class="faq-content">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              <strong>?</strong> Do I need a business plan
                                        </h4>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first time achivement.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                              <strong>?</strong> How long should a business plan be
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first time achivement.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          <strong>?</strong> Where do I start
                                      </h4>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first time achivement.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Faq Area -->
{% endblock body %}